 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>An experienced web developer and programmer with 5 years of experience using a variety of
                    programming languages. Excellent communication, problem solving and multitasking skills with
                    experience in developing application for corporate and public sector clients.</p>
                </div>

                <div class="col-lg-4">
                    <p>A task driven creative
                    self-starter with attention to detail, strong organisational and project management skills with the
                    ability to work independently and proactively within tight and often changing deadlines.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Tools and languages</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Tools I’m currently working with</h4>
                    <ul>
                        <li>PHP</li>
                        <li>Java</li>
                        <li>Apache Storm</li>
                        <li>Apache Cassandra</li>
                    </ul>

                    <br/>

                    <h4>Most experienced with</h4>
                    <ul>
                        <li>HTML/CSS</li>
                        <li>PHP</li>
                        <li>Yii Framework, Smarty</li>
                        <li>MySQL, PostgreSQL, MongoDB</li>
                        <li>JavaScript/AJAX/JQuery</li>
                        <li>Twitter Bootstrap, Less CSS</li>
                        <li>Git, Mercurial</li>
                        <li>Mac OS X, Linux Ubuntu, Windows 7</li>
                        <li>PhpStorm, Coda, Photoshop, stack of products from Atlassian</li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h4>Also worked with</h4>
                    <ul>
                        <li>Zend Framework, CodeIgniter</li>
                        <li>PHPUnit, Composer</li>
                        <li>Memcached</li>
                        <li>Various libraries and APIs - Google Analytics, Dropbox, Amazon</li>
                        <li>Vagrant</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Education/Training</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <h4>Master’s Degree in Telecommunication</h4>
                        <p><i>September 2010 – June 2012</i></p>
                        <p>Slovak University of Technology | Faculty of Electrical Engineering and Information Technology – Bratislava, Slovak Republic</p>
                    </div>

                    <br/>

                    <div>
                        <h4>Bachelor’s Degree in Telecommunication</h4>
                        <p><i>September 2007 – June 2010</i></p>
                        <p>Slovak University of Technology | Faculty of Electrical Engineering and Information Technology – Bratislava, Slovak Republic</p>
                    </div>

                    <br/>

                    <div>
                        <h4>M101P: MongoDB for Developers</h4>
                        <p><i>November 2013 – January 2014</i></p>
                    </div>

                    <br/>

                    <div>
                        <h4>CCNA 1 – CCNA 4 Exploration</h4>
                        <p><i>October 2009 – August 2011</i></p>
                        <p>Cisco Networking Academy – Bratislava, Slovak Republic</p>
                    </div>
                </div>
            </div>
        </div>
    </section>